*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: whitesmoke;
   
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}


#name{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    margin: 0;
}
#address{
    width: 100%;
    padding: 6px;
    border-radius: 10px;
}


#button{
    margin-top: 2pc;
    margin-left: 3pc;
    padding-left: 2pc;
    padding-right: 2pc;
    border-radius: 1pc;
}
